@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Oswald&display=swap');

body {
    background-color: #f5f5f5;
    font-family: 'Cabin', sans-serif;
}

h3 {
    padding: 5px;
    margin: 5px;
    font-size: 28px;
}

#relImg {
    border-radius: 10px;
    border: 1px solid rgb(151, 151, 151);
    box-shadow: 5px 4px 4px rgb(151, 151, 151);
    width: 225px;
    height: 337px;
    text-align: center;
}

.gameplayContainers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 0 0 auto;    
}

.playBox {
    min-width: 90%;
    max-width: 90%;
    display: flex;
    justify-content: space-around;

}

.guesses, .makeGuess {
    border-radius: 10px;
    padding: 8px;
    margin: 8px;
    font-size: 20px;
    background-color: rgb(39, 132, 175);
    box-shadow: 5px 4px 4px rgb(151, 151, 151);
    border: 1px solid rgb(151, 151, 151);
    color: white;
    overflow-x: hidden;
    overflow-wrap: break-word;
    width: fit-content;
}

.makeGuess {
    background-color: rgb(182, 31, 31);
}

.quoteBox, .scoreBox {
    
    font-size: 20px;
    font-weight: bold;
    background: white;
    padding: 12px;
    margin: 10px;
    min-width: 90%;
    max-width: 90%;
    border: 1px solid rgb(151, 151, 151);
    border-radius: 10px;
    box-shadow: 5px 3px 3px rgb(151,151,151);
}

.quoteInfo {
    border: 1px solid rgb(151, 151, 151);
    border-radius: 10px;
    background: white;
    width: 70%;
    min-height: 400px;
    padding: 12px;
    margin: 10px;
    box-shadow: 5px 3px 3px rgb(151,151,151);
}

.guessBox {
    display: flex;
    flex-direction: column-reverse;
    align-self: center;
    border: 1px solid rgb(151, 151, 151);
    border-radius: 10px;
    box-shadow: 5px 3px 3px rgb(151,151,151);
    background: white;
    width: 32%;
    min-height: 600px;
    max-height: 600px;
    padding: 12px;
    margin: 10px;
    overflow: hidden;
}


.answerBox{
    margin: 2px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-top: 1px solid rgb(151, 151, 151);
    border-bottom: 1px solid rgb(151, 151, 151);
}

.inputAndButton{
    display: flex;
    justify-content: center;
}

.answerReveal, .answerRevealBlank {
    border: 2px solid rgb(151, 151, 151);
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    padding: 4px;
    margin: 4px;
    min-width: 10px;
    text-align: center;
    min-height: 20px;
}

.answerRevealBlank {
    border: 0px;
}

input {
    border: 1px solid rgb(151, 151, 151);
    padding: 7px;
    margin: 4px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}

button {
    background-color: rgb(39, 132, 175);
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 8px;
    margin: 4px;
    font-size: 20px;
}

button:active {
    border: 2px solid black;
}

@keyframes yellowfade {
    from {
      background: yellow;
    }
    to {
      background: transparent;
    }
  }

  .quote-loaded {
      animation: yellowfade 10s;
  }